{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default" role="navigation">
          
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="">Wink</a></li>
                <!-- <li><a href="/FeedbackJeux/">Jeux</a></li> -->
                <li class="dropdown">
                    <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profil<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="">Attente</a></li>
                      <li><a href="">Historique</a></li>
                    </ul> -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inscription<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <!-- <li><a href="/Equipes/ListesEquipes/">Listes des equipes</a></li> -->
                    <li><a href="#">Saison</a></li>
                    <li><a href="">Statistique Joueur</a></li>
                    <li><a href="">Statistique Equipes</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connection<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Listes des equipes</a></li>
                      <li><a href="#">Etat de forme</a></li>
                      <!-- <li><a href="/StatistiqueGame/">En fonction de "Jeux"</a></li> -->
                      <li><a href="#">Assiduité</a></li>
                    </ul>
                  </li>
              </ul>
              
            </div><!-- /.navbar-collapse -->
          
        </nav>
        
        </div>

        {% load crispy_forms_tags %}
        <div class="container">
            <h2>Login here</h2>
            <form method='POST' class='form'>
                {% csrf_token %}
                {{form|crispy}}<br>
                <button type='submit' class='btn btn-success'>Login</button>
            </form>
        </div>

    </body>

<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
</html>

